---
import PythonIcon from "@/components/icons/techs/PythonIcon.astro";
import TypeScriptIcon from "@/components/icons/techs/TypeScriptIcon.astro";
import DjangoIcon from "@/components/icons/techs/DjangoIcon.astro";
import FastAPIIcon from "@/components/icons/techs/FastAPIIcon.astro";
import ExpressIcon from "@/components/icons/techs/ExpressIcon.astro";
import VueJsIcon from "@/components/icons/techs/VueJsIcon.astro";
import ReactJsIcon from "@/components/icons/techs/ReactJsIcon.astro";
import NuxtJsIcon from "@/components/icons/techs/NuxtJsIcon.astro";
import NextJsIcon from "@/components/icons/techs/NextJsIcon.astro";
---

<div class="container space-y-8">
  <h3 class="text-center text-lg text-primary md:text-xl lg:text-2xl">
    Tech Stack
  </h3>
  <div class="grid grid-cols-4 gap-6 md:grid-cols-5 md:gap-8 lg:grid-cols-6 xl:grid-cols-3">
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="Python"
    >
      <PythonIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="TypeScript"
    >
      <TypeScriptIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="Django"
    >
      <DjangoIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="FastAPI"
    >
      <FastAPIIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="Express.js"
    >
      <ExpressIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="Vue.js"
    >
      <VueJsIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="React.js"
    >
      <ReactJsIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="Nuxt.js"
    >
      <NuxtJsIcon className="w-8 md:w-9 lg:w-10" />
    </div>
    <div
      class="bg-background rounded flex justify-center h-16 md:h-24"
      title="Next.js"
    >
      <NextJsIcon className="w-8 md:w-9 lg:w-10" />
    </div>
  </div>
</div>
