<div
  class="bg-foreground h-24 flex items-center shadow-sm lg:m-0 xl:rounded"
>
  <div
    class="container flex justify-between text-[10px] text-center font-kelly_slab uppercase md:justify-evenly md:p-0 md:text-xs lg:text-sm"
  >
    <div>
      <p class="text-primary text-base md:text-lg lg:text-xl">5+</p>
      <p>years of experience</p>
    </div>
    <div>
      <p class="text-primary text-base md:text-lg lg:text-xl">6+</p>
      <p>segments</p>
    </div>
    <div>
      <p class="text-primary text-base md:text-lg lg:text-xl">70+</p>
      <p>projects</p>
    </div>
  </div>
</div>
