---
import PythonIcon from "@/components/icons/techs/PythonIcon.astro";
import TypeScriptIcon from "@/components/icons/techs/TypeScriptIcon.astro";
import DjangoIcon from "@/components/icons/techs/DjangoIcon.astro";
import FastAPIIcon from "@/components/icons/techs/FastAPIIcon.astro";
import ExpressIcon from "@/components/icons/techs/ExpressIcon.astro";
import VueJsIcon from "@/components/icons/techs/VueJsIcon.astro";
import ReactJsIcon from "@/components/icons/techs/ReactJsIcon.astro";
import NuxtJsIcon from "@/components/icons/techs/NuxtJsIcon.astro";
import NextJsIcon from "@/components/icons/techs/NextJsIcon.astro";
---

<div class="container space-y-8">
  <h3 class="text-center text-xl md:text-2xl lg:text-3xl">Tech Stack</h3>
  <div class="grid grid-cols-3 gap-8 md:grid-cols-4">
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="Python"
    >
      <PythonIcon />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="TypeScript"
    >
      <TypeScriptIcon className="mx-auto" />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="Django"
    >
      <DjangoIcon className="mx-auto" />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="FastAPI"
    >
      <FastAPIIcon className="mx-auto" />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="Express.js"
    >
      <ExpressIcon className="mx-auto" />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="Vue.js"
    >
      <VueJsIcon className="mx-auto" />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="React.js"
    >
      <ReactJsIcon className="mx-auto" />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="Nuxt.js"
    >
      <NuxtJsIcon className="mx-auto" />
    </div>
    <div
      class="bg-background/60 rounded-lg flex justify-center h-20"
      title="Next.js"
    >
      <NextJsIcon className="mx-auto" />
    </div>
  </div>
</div>
