<div class="container md:p-0 md:w-max md:m-0">
  <h1 class="text-4xl w-fit md:text-[40px] lg:text-5xl xl:text-6xl">
    I’m a
    <span class="text-primary block xl:inline"> Full Stack </span>
    <span class="text-primary block"> Software Engineer </span>
  </h1>
  <h2 class="mt-2 text-sm md:text-base lg:text-xl xl:text-2xl">
    and a SaaS builder specialist
  </h2>
  <a href="https://linkedin.com/in/devguerreiro">
    <button
      class="w-full bg-primary rounded shadow-md uppercase py-2 text-white font-bold mt-4 text-sm md:text-base lg:text-xl xl:text-2xl"
    >
      hire me
    </button>
  </a>
</div>
