<div class="container md:max-w-lg lg:max-w-xl xl:max-w-none xl:p-0 xl:m-0">
  <h1 class="w-fit text-3xl md:text-4xl lg:text-5xl">
    I’m a
    <span class="text-primary block xl:inline"> Full Stack </span>
    <span class="text-primary block"> Software Engineer </span>
  </h1>
  <h2 class="mt-2 text-sm md:text-base lg:text-lg">
    and a SaaS builder specialist
  </h2>
  <a href="https://linkedin.com/in/devguerreiro">
    <button
      class="w-full bg-primary rounded shadow-md uppercase py-2 text-white font-bold mt-4 text-sm md:text-base lg:text-lg"
    >
      hire me
    </button>
  </a>
</div>
