<div
  class="bg-white h-24 flex items-center shadow-sm md:h-auto md:ml-auto xl:m-0"
>
  <div
    class="container flex justify-between text-[10px] text-center font-kelly_slab uppercase md:flex-col md:h-full md:p-6 xl:flex-row md:text-xs lg:text-sm xl:text-base"
  >
    <div>
      <p class="text-lg text-primary lg:text-xl xl:text-2xl">5+</p>
      <p>years of experience</p>
    </div>
    <div>
      <p class="text-lg text-primary lg:text-xl xl:text-2xl">6+</p>
      <p>segments</p>
    </div>
    <div>
      <p class="text-lg text-primary lg:text-xl xl:text-2xl">65+</p>
      <p>projects</p>
    </div>
  </div>
</div>
