---
import GreetingsBanner from "@/components/Greetings/GreetingsBanner.astro";
import GreetingsCareer from "@/components/Greetings/GreetingsCareer.astro";
import GreetingsTechStack from "@/components/Greetings/GreetingsTechStack.astro";
---

<main
  class="min-h-screen mt-12 space-y-12 xl:mt-0 xl:grid xl:grid-cols-2 xl:space-y-0 xl:container xl:items-center"
>
  <div class="space-y-12 xl:max-w-xl">
    <GreetingsBanner />
    <GreetingsCareer />
  </div>
  <div class="bg-foreground py-10 shadow-sm xl:w-3/4 xl:ml-auto xl:rounded">
    <GreetingsTechStack />
  </div>
</main>
