---
import GreetingsBanner from "@/components/Greetings/GreetingsBanner.astro";
import GreetingsCareer from "@/components/Greetings/GreetingsCareer.astro";
import GreetingsTechStack from "@/components/Greetings/GreetingsTechStack.astro";
---

<main
  class="min-h-screen mt-12 space-y-12 md:mt-0 md:space-y-24 xl:grid xl:grid-cols-2 xl:space-y-0 xl:container xl:items-center"
>
  <div
    class="space-y-12 md:grid md:grid-cols-2 md:container md:space-y-0 xl:flex xl:flex-col xl:space-y-12 xl:p-0 xl:w-min xl:m-0"
  >
    <GreetingsBanner />
    <GreetingsCareer />
  </div>
  <div class="bg-foreground py-6 shadow-sm xl:w-3/4 xl:ml-auto">
    <GreetingsTechStack />
  </div>
</main>
