@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 100%;

    --text: 221 30% 15%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 96%;

    --primary: 163 100% 39%;
    --primary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 96%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 221 30% 16%;
    --foreground: 221 30% 15%;

    --text: 0 0% 100%;

    --card: 221 30% 15%;
    --card-foreground: 221 30% 16%;

    --popover: 221 30% 15%;
    --popover-foreground: 221 30% 16%;

    --primary: 163 100% 39%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 221 30% 16%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 221 30% 16%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 221 30% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text leading-relaxed tracking-widest text-sm md:text-base;
  }
}

@layer components {
  .section {
    @apply min-h-screen flex flex-col justify-center items-center space-y-20 py-20;
  }

  .section-title {
    @apply font-medium text-center text-2xl md:text-4xl;
  }

  .service {
    @apply h-40 rounded-lg shadow-md bg-card-foreground flex justify-center items-center transition-transform duration-200 hover:scale-110 hover:bg-primary hover:text-white hover:shadow-xl;

    & span {
      @apply font-medium text-center text-base px-4 lg:px-8 md:text-lg;
    }
  }

  .project {
    @apply h-40 rounded-lg shadow-md bg-card text-primary font-medium text-center text-base px-4 lg:px-8 md:text-lg flex justify-center items-center transition-transform duration-200 hover:scale-110 hover:bg-primary hover:text-white hover:shadow-xl;
  }
}
