---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Topic from "../Topic.astro";

const aboutCollection = await getCollection("about");
const aboutCollectionRendered = await Promise.all(
    aboutCollection.map(async (piece) => ({
        ...piece,
        body: await piece.render(),
    }))
);
---

<h1 class="text-2xl">A few about who I am and things I like to do 😃</h1>
<div class="lg:flex lg:flex-col lg:gap-16 overflow-hidden">
    {
        aboutCollectionRendered.map((piece, index) => (
            <Topic
                index={index}
                topic={{
                    title: piece.data.topic,
                    emoji: piece.data.emoji,
                }}
            >
                <piece.body.Content />
            </Topic>
        ))
    }
</div>
<div class="mt-60 mb-8">
    <figure>
        <Image
            class="mx-auto"
            src="https://media.tenor.com/fR6MrcAyv5sAAAAC/nice-to-meet-me-michael-scott.gif"
            alt="Dating mike saying 'nice to meet me'"
            width={300}
            height={300}
        />
        <figcaption class="mt-4 text-center">
            <b class="text-light_text dark:text-dark_text font-baskerville">
                YES! I really like this guy 😂
            </b>
        </figcaption>
    </figure>
</div>
