---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

import Topic from "../components/Topic.astro";

const aboutCollection = await getCollection("about");
const aboutCollectionRendered = await Promise.all(
  aboutCollection.map(async (piece) => ({
    ...piece,
    body: await piece.render(),
  }))
);
---

<Layout
  title="About"
  description="Know who I am and things like what I like to do"
>
  <div>
    <div class="lg:flex lg:flex-col lg:gap-16">
      {
        aboutCollectionRendered.map((piece, index) => (
          <Topic
            index={index}
            topic={{
              title: piece.data.topic,
              emoji: piece.data.emoji,
            }}
          >
            <piece.body.Content />
          </Topic>
        ))
      }
    </div>
    <div class="mt-80 mb-8">
      <Image
        class="mx-auto"
        src="https://media.tenor.com/fR6MrcAyv5sAAAAC/nice-to-meet-me-michael-scott.gif"
        alt="Dating mike saying 'nice to meet me'"
        width={300}
        height={300}
      />
      <p class="mt-6 text-center text-primary font-baskerville">
        <b>Yes! I really like this guy</b> 😂
      </p>
    </div>
  </div>
</Layout>
