---
import "@/styles/globals.scss";

import "@fontsource/kelly-slab";
import "@fontsource/inter";

import Header from "@/components/Header.astro";

import PythonIcon from "@/components/icons/techs/PythonIcon.astro";
import TypeScriptIcon from "@/components/icons/techs/TypeScriptIcon.astro";
import DjangoRestIcon from "@/components/icons/techs/DjangoRestIcon.astro";
import FastAPIIcon from "@/components/icons/techs/FastAPIIcon.astro";
import ExpressIcon from "@/components/icons/techs/ExpressIcon.astro";
import VueJsIcon from "@/components/icons/techs/VueJsIcon.astro";
import ReactJsIcon from "@/components/icons/techs/ReactJsIcon.astro";
import NuxtJsIcon from "@/components/icons/techs/NuxtJsIcon.astro";
import NextJsIcon from "@/components/icons/techs/NextJsIcon.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main class="mt-12 space-y-12 md:space-y-24">
      <div class="space-y-12 md:grid md:grid-cols-2 md:container md:space-y-0">
        <div class="container md:p-0">
          <h1 class="text-4xl">
            I’m a
            <span class="text-primary">
              <br />Full Stack
              <br />Software Engineer
            </span>
          </h1>
          <h2 class="text-sm mt-2">and a SaaS builder specialist</h2>
          <button
            class="w-full bg-primary rounded shadow-md uppercase py-2 text-white font-bold mt-4"
          >
            hire me
          </button>
        </div>
        <div
          class="bg-white h-24 flex items-center shadow-sm md:h-auto md:ml-auto"
        >
          <div
            class="container flex justify-between text-[10px] text-center font-kelly_slab uppercase md:flex-col md:h-full md:p-6"
          >
            <div>
              <p class="text-xl text-primary">5+</p>
              <p>years of experience</p>
            </div>
            <div>
              <p class="text-xl text-primary">6+</p>
              <p>segments</p>
            </div>
            <div>
              <p class="text-xl text-primary">65+</p>
              <p>projects</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white py-6 shadow-sm">
        <div class="container space-y-8">
          <h3 class="text-center text-xl">Tech Stack</h3>
          <div class="grid grid-cols-3 gap-8">
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="Python"
            >
              <PythonIcon />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="TypeScript"
            >
              <TypeScriptIcon className="mx-auto" />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="Django Rest Framework"
            >
              <DjangoRestIcon className="mx-auto" />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="FastAPI"
            >
              <FastAPIIcon className="mx-auto" />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="Express.js"
            >
              <ExpressIcon className="mx-auto" />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="Vue.js"
            >
              <VueJsIcon className="mx-auto" />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="React.js"
            >
              <ReactJsIcon className="mx-auto" />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="Nuxt.js"
            >
              <NuxtJsIcon className="mx-auto" />
            </div>
            <div
              class="bg-primary/5 rounded-md flex justify-center h-20"
              title="Next.js"
            >
              <NextJsIcon className="mx-auto" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
