---
import "@/styles/globals.scss";

import "@fontsource/inter";

import Hero from "@/components/Hero.astro";
import Skills from "@/components/Skills.astro";
import Experience from "@/components/Experience.astro";
import Footer from "@/components/Footer.astro";
import Portfolio from "@/components/Portfolio.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Luis Guerreiro | Engenheiro de Software Fullstack Sênior</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-white font-sans"
  >
    <main class="min-h-screen">
      <Hero />
      <Skills />
      <Experience />
      <Portfolio />
    </main>
    <Footer />
  </body>
</html>
