---
import { Image } from "astro:assets";

import Selfie from "../static/selfie.jpg";

import Layout from "../layouts/Layout.astro";

import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import TwitchIcon from "../components/icons/TwitchIcon.astro";
import OnlyFansIcon from "../components/icons/OnlyFansIcon.astro";

import CircleIcon from "../components/icons/CircleIcon.astro";
import RectangleIcon from "../components/icons/RectangleIcon.astro";
import SquareIcon from "../components/icons/SquareIcon.astro";
import StarIcon from "../components/icons/StarIcon.astro";
import TriangleIcon from "../components/icons/TriangleIcon.astro";
import XIcon from "../components/icons/XIcon.astro";
---

<Layout title="devguerreiro's portfolio" description="Greetings for you">
  <main
    class="flex flex-col md:flex-row items-center md:justify-between xl:justify-around mt-20 md:mt-48"
  >
    <div id="content" class="relative md:w-1/2 lg:w-2/5 xl:w-1/3">
      <div id="greeting" class="text-light_text dark:text-dark_text">
        <h1 class="font-kelly_slab font-bold text-4xl tracking-tight">
          Whatsup, 🤙
        </h1>
        <h2 class="font-baskerville text-2xl mt-6">
          I'm <b class="font-roboto text-primary tracking-wide italic"
            >devguerreiro</b
          > and I work as a <b>Software Engineer</b>
        </h2>
        <button
          class="font-kelly_slab tracking-widest text-light_text bg-primary rounded-sm shadow-md shadow-gray-400 dark:shadow-lg dark:shadow-dark_contrast w-full py-2 mt-8"
          type="button"
        >
          GimMe a CraZy HandShaKe 🤝
        </button>
      </div>
      <div
        id="socials"
        class="flex justify-around mt-10 text-light_text dark:text-dark_text"
      >
        <a href="https://linkedin.com/in/devguerreiro" target="_blank">
          <div
            id="linkedin"
            class="inline-block p-2 rounded-md bg-light_contrast dark:bg-dark_contrast"
          >
            <LinkedInIcon />
          </div>
        </a>
        <a href="https://github.com/devguerreiro" target="_blank">
          <div
            id="github"
            class="inline-block p-2 rounded-md bg-light_contrast dark:bg-dark_contrast"
          >
            <GitHubIcon />
          </div>
        </a>
        <a href="https://twitch.tv/devguerreiro" target="_blank">
          <div
            id="twitch"
            class="inline-block p-2 rounded-md bg-light_contrast dark:bg-dark_contrast"
          >
            <TwitchIcon />
          </div>
        </a>
        <a href="https://paodiario.org/devocional/" target="_blank">
          <div
            id="onlyfans"
            class="inline-block p-2 rounded-md bg-light_contrast dark:bg-dark_contrast"
          >
            <OnlyFansIcon />
          </div>
        </a>
      </div>
      <div class="text-light_contrast dark:text-dark_contrast">
        <TriangleIcon class="absolute -top-12 left-0 -z-10" size={35} />
        <StarIcon class="absolute -top-16 right-32 -z-10" size={30} />
        <CircleIcon class="absolute top-0 right-0 -z-10" size={40} />
      </div>
    </div>
    <div id="selfie" class="relative mt-10 md:mt-0">
      <Image
        class="p-2 border-4 border-primary rounded-md"
        src={Selfie}
        alt="A selfie photo of me"
        height={300}
        width={300}
      />
      <div class="text-light_contrast dark:text-dark_contrast">
        <SquareIcon class="absolute -top-6 right-0 -z-10" size={50} />
        <XIcon class="absolute -bottom-8 -left-8 -z-10" size={75} />
        <RectangleIcon
          class="absolute -bottom-8 right-0 -z-10"
          width={120}
          height={20}
        />
      </div>
    </div>
  </main>
</Layout>
