<div
  class="mt-32 flex flex-col justify-center items-center bg-primary text-white text-[10px] h-40 md:text-xs"
>
  <p>
    Develop with kindness 💙 | by <a
      href="https://github.com/devguerreiro"
      target="_blank">@devguerreiro</a
    >
  </p>
  <p>Copyright &copy; 2024 devguerreiro. All rights reserved.</p>
</div>
