---
import GitHubIcon from "@/components/icons/socials/GitHubIcon.astro";
import InstagramIcon from "@/components/icons/socials/InstagramIcon.astro";
import LinkedInIcon from "@/components/icons/socials/LinkedInIcon.astro";
import TwitchIcon from "@/components/icons/socials/TwitchIcon.astro";

import ToggleTheme from "@/components/ToggleTheme.astro";
---

<header class="w-full bg-foreground sticky top-0 left-0">
  <div class="h-16 container flex items-center justify-between">
    <div class="flex items-center lg:gap-2">
      <a
        href="https://github.com/devguerreiro"
        target="_blank"
        class="p-2 rounded hover:bg-primary hover:text-white"
        title="link to my page on GitHub"
      >
        <GitHubIcon className="w-4 md:w-5 lg:w-6" />
      </a>
      <a
        href="https://linkedin.com/in/devguerreiro"
        target="_blank"
        class="p-2 rounded hover:bg-primary hover:text-white"
        title="link to my page on LinkedIn"
      >
        <LinkedInIcon className="w-4 md:w-5 lg:w-6" />
      </a>
      <a
        href="https://www.instagram.com/devguerreiro"
        target="_blank"
        class="p-2 rounded hover:bg-primary hover:text-white"
        title="link to my page on Instagram"
      >
        <InstagramIcon className="w-4 md:w-5 lg:w-6" />
      </a>
      <a
        href="https://www.twitch.tv/devguerreiro"
        target="_blank"
        class="p-2 rounded hover:bg-primary hover:text-white"
        title="link to my page on Twitch"
      >
        <TwitchIcon className="w-4 md:w-5 lg:w-6" />
      </a>
    </div>
    <div>
      <ToggleTheme />
    </div>
  </div>
</header>
