---
import { Image } from "astro:assets";
import Logo from "../static/logo.png";

import MenuIcon from "./icons/MenuIcon.astro";
import SunIcon from "./icons/SunIcon.astro";
import MoonIcon from "./icons/MoonIcon.astro";

import Navbar from "./Navbar.astro";
---

<header class="px-8 flex items-center md:px-0">
  <div id="logo">
    <Image
      src={Logo}
      alt="A logo of an warrior who looks like an spartan using a notebook for programming"
      width={75}
      height={75}
    />
  </div>
  <Navbar />
  <div
    id="theme-mode"
    class="hidden rounded-md md:bg-zinc-200 md:flex md:gap-6 md:px-4 md:py-2"
  >
    <SunIcon />
    <MoonIcon />
  </div>
  <div id="menu-icon" class="absolute top-6 right-8 md:relative md:hidden">
    <MenuIcon width={32} height={32} />
  </div>
</header>

<script>
  const menuIcon = document.querySelector("#menu-icon");
  menuIcon?.addEventListener("click", (e) => {
    e.stopPropagation();
    const navbar = document.querySelector("#navbar");
    if (navbar) navbar?.classList.toggle("hidden");
  });
</script>
