---
import GitHubIcon from "@/components/icons/socials/GitHubIcon.astro";
import InstagramIcon from "@/components/icons/socials/InstagramIcon.astro";
import LinkedInIcon from "@/components/icons/socials/LinkedInIcon.astro";
import TwitchIcon from "@/components/icons/socials/TwitchIcon.astro";

import ToggleTheme from "@/components/ToggleTheme.astro";
---

<header class="w-full bg-foreground sticky top-0 left-0">
  <div class="h-16 container flex items-center justify-between">
    <div class="flex items-center gap-4 md:gap-6">
      <a href="https://github.com/devguerreiro" target="_blank">
        <GitHubIcon className="w-4 md:w-6" />
      </a>
      <a href="https://linkedin.com/in/devguerreiro" target="_blank">
        <LinkedInIcon className="w-4 md:w-6" />
      </a>
      <a href="https://www.instagram.com/devguerreiro" target="_blank">
        <InstagramIcon className="w-4 md:w-6" />
      </a>
      <a href="https://www.twitch.tv/devguerreiro" target="_blank">
        <TwitchIcon className="w-4 md:w-6" />
      </a>
    </div>
    <div>
      <ToggleTheme />
    </div>
  </div>
</header>
