---

---

<section
  class="flex flex-col items-center justify-center py-24 px-6 text-center"
>
  <h1 class="text-5xl font-bold mb-4 text-[#A8CA58]">Luis Guerreiro</h1>
  <p class="text-xl text-gray-300 mb-2">Engenheiro de Software Fullstack</p>
  <p class="text-md text-gray-400">Next.js • NestJS • Django • FastAPI</p>
  <div class="mt-6 flex gap-6">
    <a
      href="https://github.com/devguerreiro"
      class="hover:text-[#A8CA58] transition">Portfólio</a
    >
    <a
      href="https://linkedin.com/in/devguerreiro"
      class="hover:text-[#A8CA58] transition">LinkedIn</a
    >
    <a
      href="mailto:devguerreiro0@gmail.com"
      class="hover:text-[#A8CA58] transition">E-mail</a
    >
  </div>
</section>
