---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="container mx-auto px-8 bg-light dark:bg-dark">
    <Header />
    <slot />
  </body>
</html>

<style lang="sass">
  @font-face
    font-family: "Kelly Slab"
    src: url("/fonts/Kelly_Slab/KellySlab-Regular.ttf") format("truetype")
    font-weight: normal
    font-style: normal
    font-display: swap

  @font-face
    font-family: "Libre Baskerville"
    src: url("/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype")
    font-weight: normal
    font-style: normal
    font-display: swap

  @font-face
    font-family: "Poppins"
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype")
    font-weight: normal
    font-style: normal
    font-display: swap

  @font-face
    font-family: "Roboto"
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype")
    font-weight: normal
    font-style: normal
    font-display: swap
</style>
